*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: #17254A;
    height: 100vh;
    margin: 0;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
}


/* ===== Scrollbar CSS ===== Ma scrollbar a été généré via un scrollbar generator */


/* https://w3generator.com/scrollbar */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #c03e2d;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #94040400;
}


/* --------------------- HEADER ------------------------- */

header {
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(23, 37, 74, 1) 100%);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: url(img/CHINE/chine_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: black;
    margin-bottom: 8vh;
}

.titre_principal_pays {
    color: #fff;
    justify-content: center;
    font-size: 3.5em;
    font-family: 'Overpass', sans-serif;
}

.bloc_titre_pays {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.sous_titre_pays {
    color: #fff;
    justify-content: center;
    margin-left: 30vh;
    margin-right: 30vh;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 30px;
}

.bloc_fleche {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.fleche {
    width: 80px;
    height: 80px;
    cursor: pointer;
    justify-content: center;
}


/* ---------------------NAV BAR------------------------- */

nav {
    width: 100%;
    height: 9vh;
    box-sizing: border-box;
    background-color: #03031C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 13vh;
    width: 120px;
    padding-top: 4vh;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    padding: 0;
}

nav ul li a {
    line-height: 50px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul li a:hover {
    background-color: #162a66a4;
    color: rgba(240, 238, 238, 0.774);
    transition: background-color 1s;
}

.bloc_icone {
    width: 150px;
}

.bloc_icone img {
    width: 45px;
    height: 45px;
    padding-left: 10px;
    padding-top: 2vh;
}


/* --------------------- fin nav bar------------------------- */


/* --------------------- EXPEDITION ------------------------- */

.container_expedition {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bloc_expedition1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px white;
    width: 45%;
    margin-bottom: 5vh;
}

.bloc_expedition2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px white;
    width: 45%;
    margin-bottom: 5vh;
}

.titre_expedition {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px #000000;
}

.sous_nom {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.sous_titre_expedition {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h4 {
    /* titre prix et date */
    margin: 0;
    margin-top: 15px;
}

.texte_expedition {
    margin-bottom: 3vh;
    margin-top: 3vh;
    margin-left: 14vh;
    margin-right: 14vh;
    padding-left: 3vh;
    padding-right: 3vh;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container_expedition img {
    width: 500px;
    height: 500px;
    margin-bottom: 2vh;
}


/* ---------Button voir-------- */

.button_reservez {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 130px;
    transition: all 0.5s;
    margin-bottom: 2vh;
}

.button_reservez span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_reservez span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_reservez:hover span {
    padding-right: 25px;
}

.button_reservez:hover span:after {
    opacity: 1;
    right: 0;
}


/* --------- fin button voir -------- */


/* --------------------- fin expedition ------------------------- */


/* --------------------- FOOTER ------------------------- */

footer {
    min-height: 25vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Overpass', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

.titre_reseau {
    margin: 0;
    margin-top: 25px;
}

.reseaux {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 25vh;
    padding-right: 25px;
}

.reseaux p {
    text-align: center;
}

.img_reseau {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-top: 30px;
}

.reseau {
    width: 50px;
    height: 50px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    margin: 0;
}

.footer_mentions_legales {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------- fin footer ------------------------- */

@media screen and (max-width:900px) {
    nav {
        width: 100%;
        height: 45vh;
        box-sizing: border-box;
        background-color: #03031C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .logo img {
        height: 9vh;
        width: 150px;
        padding-top: 1vh;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 0px solid #ffffff;
        padding: 0;
    }
    .bloc_image_pays_1 {
        margin-top: 15vh;
    }
    section {
        margin-bottom: 15vh;
    }
    .bloc_titre_pays {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    .sous_titre_pays {
        color: #fff;
        justify-content: center;
        margin-left: 10vh;
        margin-right: 10vh;
    }
    .texte_expedition {
        margin-bottom: 3vh;
        margin-top: 3vh;
        margin-left: 5vh;
        margin-right: 5vh;
        padding-left: 3vh;
        padding-right: 3vh;
        text-align: center;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (max-width:1400px) {
    .container_expedition {
        display: flex;
        flex-direction: column;
    }
    .bloc_expedition1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 3px white;
        width: 80%;
        margin-bottom: 5vh;
    }
    .bloc_expedition2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 3px white;
        width: 80%;
        margin-bottom: 5vh;
    }
    .container_expedition {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}